#mainstyle {
	font-family: 'Open Sans';
	background-color: #d789ff;
	border-radius: 4px;
	text-align: center;
}
.buttonStyle {
	border-radius: 4px;
	border: 1px solid #000000;
	padding: 5px;
	background-color: #ffffff;
	font-weight: bold;
	color: #333333;
	width: 100px;
}

.buttonStyle:hover {
	border: 1px solid #000000;
	background-color: #eaeaea;
	color: #333333;
	cursor: pointer;
}
.buttonStyle:active {
	border: 1px solid #000000;
	background-color: #dad9db;
	color: #333333;
	cursor: pointer;
}

#gamecanvas {
	border: 1px solid #000000;
	border-radius: 4px;
	background-color: #eaeaea;
}
